<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to write your story!</h1>
    <form action='/shipping'>
      <div class='form-group'>
        <label for='Width'>Width of package</label>
        <input id='Width' name='Width' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Height'>Height of package</label>
        <input id='Height' name='Height' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Length'>Length of package</label>
        <input id='Length' name='Length' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='Weight'>Weight of package</label>
        <input id='Weight' name='Weight' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Show me my costs</button>
    </form>
  </body>
</html>
