<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="Content/css/styles.css">
  </head>
  <body class="container">
    <p>Width: @Model.Width</p>
    <p>Length: @Model.Length</p>
    <p>Height: @Model.Height</p>
    <p>Weight: @Model.Weight</p>
    <p>Volume: @Model.Volume</p>
    <p>Cost: @Model.CostToShip</p>
  </body>
</html>
